/*=================
=== TOC

- Vars and settings
- Svg styling
- Worldmap
- Journey
- Timeline
- Multi Timeline
=================*/
/*=================
=== Vars and settings
Using css vars in scss xd

Mainly using scss for nesting here. Trying my hand in css vars
=================*/
:root {
  --def-margin: 1.5em; }

html {
  font-family: "open sans", "helvetica", "sans-serif";
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }

/*=================
=== Svg styling
=================*/
/*=================
=== Worldmap
=================*/
.map-con {
  position: relative;
  text-align: center;
  overflow: hidden; }

.country {
  fill: #fff;
  stroke: rgba(0, 127, 255, 0.5);
  stroke-width: 2.5; }

.country-adm {
  pointer-events: none;
  font-weight: 100;
  font-size: 20; }

.trajectory {
  stroke: red;
  stroke-width: 2; }

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  background-color: red;
  transition: transform 1s ease; }
  .menu.active {
    transform: translate(0, 0); }
  .menu button {
    align-self: flex-end;
    margin-bottom: 1.5em; }
  .menu ul {
    padding: 1em 2em;
    padding-left: 3em; }
  .menu li {
    font-size: 2em;
    text-align: left;
    list-style: none;
    line-height: 1.2em; }
    .menu li:not(:first-of-type) {
      margin-top: .8em; }
    .menu li:hover {
      color: yellow; }
    .menu li:hover.disabled {
      color: #a3a3a3; }
  .menu .disabled {
    color: #a3a3a3; }

.menu-btn {
  position: absolute;
  height: 100%;
  width: 3em; }
  .menu-btn p {
    font-size: 1.2em;
    font-weight: 100;
    width: 400px;
    position: absolute;
    top: 50%;
    color: #fff;
    transform: translateY(-50%) translateX(-45%) rotate(-90deg);
    margin: 0 auto; }

.hide {
  display: none; }

/*=================
=== Journey
=================*/
.journey-line {
  fill: none;
  stroke: red;
  stroke-width: 2; }

.journey-detail {
  flex: 1;
  margin: 0.8em 0;
  border: 1px solid gold;
  border-radius: 2px;
  padding: 1em;
  background-color: #3a3a3a;
  color: #fff; }
  .journey-detail p {
    margin-bottom: 0.3em; }
  .journey-detail span {
    font-weight: 300; }

/*=================
=== Timeline
=================*/
.time-con {
  overflow: hidden; }
  .time-con p {
    position: absolute; }

.timeline {
  padding: 1em 0;
  margin: 0 .5em; }

.refugee-line {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 2.5; }

.time-text {
  font-size: 1.5em;
  fill: rgba(0, 0, 0, 0.1);
  letter-spacing: .2em; }

#time-count-shower {
  font-size: 5em;
  font-weight: 700;
  letter-spacing: 1em; }

/*=================
=== Multi timeline
=================*/
.multi-time-con {
  height: 200px; }

/*=================
=== Stuff to check
=================*/
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }

.overlay {
  fill: none;
  pointer-events: all; }

.focus circle {
  fill: none;
  stroke: steelblue; }

.classy {
  color: 'blue';
  fill: "blue"; }

/*=================
=== Loader
=================*/
#loader {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff; }
  #loader p {
    text-align: center;
    font-size: 2em; }

/*# sourceMappingURL=style.css.map */
