/*=================
=== TOC

- Vars and settings
- Svg styling
- Worldmap
- Journey
- Timeline
- Multi Timeline
=================*/


/*=================
=== Vars and settings
=================*/

:root {
	--def-margin: 1.5em;
}


html {
	font-family: "open sans", "helvetica", "sans-serif";
	height: 100%;
}

body {
	height: 100%; // background-color: #303030;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}



/*=================
=== Svg styling
=================*/

svg {
	// height: 800;
	// width: 800;
	// height: 100%;
	// width: 100%;
}




/*=================
=== Worldmap
=================*/

.map-con {
	// height: 100%;
	text-align: center;
	margin: var(--def-margin);
	border: 1px solid #000;
	overflow: hidden;
	svg {}
}

.country {
	fill: #fff;
	stroke: rgba(0, 127, 255, .5); // stroke: #007fff;
	stroke-width: 1.5;
}


// 
.trajectory {
	stroke: red;
	stroke-width: 2;
}



/*=================
=== Journey
=================*/


/*=================
=== Timeline
=================*/

.time-con {
	overflow: hidden;
}

.refugee-line {
	fill: none;
	stroke: steelblue;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-width: 1.5;
}



/*=================
=== Multi timeline
=================*/

.multi-time-con {
	height: 200px;
}