/*=================
=== TOC

- Vars and settings
- Svg styling
- Worldmap
- Journey
- Timeline
- Multi Timeline
=================*/


/*=================
=== Vars and settings
Using css vars in scss xd

Mainly using scss for nesting here. Trying my hand in css vars
=================*/

:root {
	--def-margin: 1.5em;
}


html {
	font-family: "open sans", "helvetica", "sans-serif";
	height: 100%;
}

body {
	height: 100%; // background-color: #303030;
	margin: 0;
	// margin: var(--def-margin);
	padding: 0;
	// font-family: sans-serif;
	// background-color: rgba(0, 0, 0, .7);
}



/*=================
=== Svg styling
=================*/

svg {
	// height: 800;
	// width: 800;
	// height: 100%;
	// width: 100%;
}


/*=================
=== Worldmap
=================*/

.map-con {
	position: relative;
	// height: 100%;
	text-align: center; // margin: var(--def-margin);
	// border: 1px solid #000;
	overflow: hidden;
	svg {}
}

.country {
	fill: #fff;
	// fill: transparent;
	stroke: rgba(0, 127, 255, .5); // stroke: #007fff;
	// stroke-width: 1.5;
	stroke-width: 2.5;
}

.country-adm {
	pointer-events: none;
	font-weight: 100;
	font-size: 20;
}

// 
.trajectory {
	stroke: red;
	stroke-width: 2;
}


.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
	height: 100%;
	// height: 100vh;
	background-color: red;

	// transform: translate(-100%, 0);
	
	// transform: translate(90%, 0);
	
	transition: transform 1s ease ;

	&.active {
	transform: translate(0, 0);
	
	}

	button {
		align-self: flex-end;
		margin-bottom: 1.5em;
	}

	ul {
		padding: 1em 2em;
		padding-left: 3em;
	}

	li {
		font-size: 2em;
		text-align: left;
		list-style: none;
		line-height: 1.2em;

		&:not(:first-of-type) {
			margin-top: .8em;
		}

		&:hover {
			color: yellow;
		}
		&:hover.disabled {
			color: #a3a3a3;
		}
	}

	.disabled {
		color: #a3a3a3;
	}
}

.menu-btn {
	position: absolute;
	height: 100%;
	width: 3em;
	// background-color: blue;
	

	p {
		// height: 100%;
		// height: 100px;
		font-size: 1.2em;
		font-weight: 100;
		width: 400px;
		// width: 100%;
		position: absolute;
		top: 50%;
		color: #fff;
		// transform: translateY(-50%) rotate(-90deg);
		transform: translateY(-50%) translateX(-45%) rotate(-90deg);
		margin: 0 auto;
	}
}

.menu-list {

}

.hide {
	display: none;
}


/*=================
=== Journey
=================*/

.journey-line {
	fill: none;
	stroke: red;
	stroke-width: 2;
}


// tooltip
.journey-detail {
	flex: 1;
	margin: 0.8em 0;
	border: 1px solid gold;
	border-radius: 2px;
	padding: 1em;
	background-color: #3a3a3a; // For the tooltip if we will use it
	color: #fff;
	p {
		margin-bottom: 0.3em;
	}
	span {
		font-weight: 300;
	}
}

/*=================
=== Timeline
=================*/

.time-con {
	// margin-top: 1em;
	overflow: hidden;
	// background: rgba(0, 0, 0, .4);
	p {
		position: absolute;
	}
}

.timeline {
	padding: 1em 0;
	margin: 0 .5em;
}

.refugee-line {
	fill: none; // stroke: steelblue;
	// stroke: #fff;
	stroke: #000;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-width: 2.5;
}


.time-text {
	font-size: 1.5em;
	fill: rgba(0, 0, 0, .1);
	letter-spacing: .2em;	
}

#time-count-shower {
	font-size: 5em;
	font-weight: 700;
	letter-spacing: 1em;
}


/*=================
=== Multi timeline
=================*/

.multi-time-con {
	height: 200px;
}

/*=================
=== Stuff to check
=================*/

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.focus circle {
	fill: none;
	stroke: steelblue;
}


.classy {
	color: 'blue';
	fill: 'blue'
}


/*=================
=== Loader
=================*/


#loader {
	display: none;

	// display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #fff;

	p {
		text-align: center;
		font-size: 2em;
	}
}