/*=================
=== TOC

- Vars and settings
- Svg styling
- Worldmap
- Journey
- Timeline
- Multi Timeline
=================*/
/*=================
=== Vars and settings
Using css vars in scss xd

Mainly using scss for nesting here. Trying my hand in css vars
=================*/
:root {
  --def-margin: 1.5em;
  --bg-color: #2a2a2a;
  --sec-bg-color: #a3a3a3;
  --primary-color: #f3f3f3;
  --primary-color-dark: #3b3b3b;
  --primary-color-alpha: rgba(244, 244, 244, 0.6);
  --sec-text-color: #a3a3a3;
  --text-disabled: #cfcfcf; }

html {
  font-family: "open sans", "helvetica", "sans-serif";
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color); }

select {
  height: 29px;
  width: 12em; }

::-webkit-scrollbar {
  display: none; }

.hide {
  display: none; }

/*=================
=== Svg styling
=================*/
/*=================
=== Worldmap
=================*/
.map-con {
  position: relative;
  text-align: center;
  overflow: hidden; }

.country {
  fill: var(--primary-color-dark);
  stroke: rgba(0, 127, 255, 0.5);
  stroke-width: 2.5; }

.country-adm {
  pointer-events: none;
  font-weight: 100;
  font-size: 20;
  fill: var(--primary-color); }

.trajectory {
  stroke: var(--primary-color-alpha);
  stroke-width: 2; }

#filter-list {
  position: absolute;
  top: 2em;
  right: 5.5em;
  outline: none; }

/*=================
=== Journey
=================*/
.journey-line {
  fill: none;
  stroke: red;
  stroke-width: 2; }

.refugee-bar {
  fill: var(--primary-color); }

.refugee-bar-tip {
  flex: 1;
  max-width: 30em;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  padding: 0 1em;
  background-color: var(--bg-color);
  color: var(--primary-color);
  z-index: 1000; }

/*=================
=== Menu + story
=================*/
.menu {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  width: 21em;
  height: 100%;
  background-color: var(--primary-color);
  transform: translate(88%, 0);
  transition: transform 1s ease; }
  .menu.active {
    transform: translate(0, 0);
    position: fixed; }
  .menu button {
    align-self: flex-end;
    margin-bottom: 1.5em; }
  .menu ul {
    padding: 1em 2em;
    padding-left: 3em; }
  .menu li {
    font-size: 2em;
    text-align: left;
    list-style: none;
    line-height: 1.2em;
    border-bottom: 0 solid var(--sec-text-color);
    transition: border-bottom 200ms ease-in, color 200ms ease-in; }
    .menu li:not(:first-of-type) {
      margin-top: .8em; }
    .menu li:hover {
      color: var(--sec-text-color);
      border-bottom: 3px solid var(--sec-text-color); }
    .menu li:hover.disabled {
      color: var(--text-disabled);
      border: none; }
  .menu .disabled {
    color: var(--text-disabled);
    text-decoration: line-through; }

.menu-btn {
  position: absolute;
  height: 100%;
  width: 3em; }
  .menu-btn p {
    font-size: 1.2em;
    font-weight: 100;
    width: 400px;
    position: absolute;
    top: 50%;
    color: var(--primary-color-dark);
    transform: translateY(-50%) translateX(-45%) rotate(-90deg);
    margin: 0 auto;
    transition: color 200ms ease-in; }
    .menu-btn p:hover {
      color: var(--sec-text-color); }

.story-content {
  padding-right: 2em;
  padding-left: 2.8em;
  text-align: start;
  color: var(--primary-color-dark); }
  .story-content .credits {
    color: var(--sec-text-color); }

#story-end {
  display: none; }

.story-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em; }
  .story-buttons button {
    height: 3em;
    width: 100%;
    margin: 0;
    outline: none;
    background: none;
    border: none;
    border-bottom: 0 solid var(--primary-color-dark);
    transition: border-bottom 200ms ease-in; }
    .story-buttons button:hover {
      border-bottom: 5px solid var(--primary-color-dark); }
    .story-buttons button:not(:first-of-type) {
      width: 50%; }

/*=================
=== Timeline
=================*/
.time-con {
  background: var(--sec-bg-color);
  overflow: hidden; }
  .time-con p {
    position: absolute; }

.timeline {
  padding: 1em 0;
  margin: 0 .5em; }

.refugee-line {
  fill: none;
  stroke: var(--primary-color);
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 2.5;
  opacity: .7; }

.time-text {
  font-size: 1.5em;
  fill: var(--primary-color-alpha);
  opacity: .5;
  letter-spacing: .2em; }

#time-count-shower {
  font-size: 5em;
  font-weight: 700;
  letter-spacing: 1em; }

.mouse-line {
  stroke: var(--primary-color-alpha);
  stroke-width: 1.5px; }

/*=================
=== Multi timeline
=================*/
/*=================
=== Loader
=================*/
#loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color); }
  #loader p {
    text-align: center;
    font-size: 2em;
    margin: 0;
    line-height: 2em; }
    #loader p:first-of-type {
      font-size: 2.5em;
      font-weight: 700; }

/*# sourceMappingURL=style.css.map */
